@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.action-button,
.add-edit-button {
    margin: 2px;
}

.header {
    float: left;
}

.add-button {
    margin-left: 20px;
    margin-top: 20px;
}
